@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100&family=Anek+Malayalam:wght@100&family=Cairo:wght@200;300;500&family=Cinzel:wght@400;500;600;700;800;900&family=League+Gothic&family=Montserrat:wght@300&family=Raleway+Dots&family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
}
h1{
    color: rgb(105, 104, 104);
    text-align: left;
    padding: 10px 30px 10px 30px;
    margin: 0px;
}
h2{
    font-size: 60px;
}
.Alpen1{
    background-image: url(../img/Alpen1.avif);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    text-align: center;
    padding: 50px;
    margin: 0px 0px 30px 0px;
    color: rgb(255, 255, 255);
}
h3{
    text-align: center;
    padding: 50px;
    margin: auto;
}
div>img{
    margin: 25px 0px 0px 0px;
    padding: auto;
    width: 33%;
}

li{
    padding: 20px;
}
a{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    margin: 30px;
    
    
}


.sold_out::after{
    color: red;
    content: "-SOLD OUT";
}
.only_4_spot_available::after{
    color: red;
    content: "-ONLY 4 SPOT AVAILABLE";
}
.available::after{
    color: green;
    content: "-AVAILABLE";
}
.fa {
    padding: 40px;
    font-size: 400px;
    width: 500px;
    text-decoration: none;
    border: solid 1px;
    border-color: rgb(206, 216, 212);}
    
.fa-facebook {
    background: #3B5998;
    color: white;
    text-align: center;
    
    
}
.fa-instagram {
    background: #f70303;
    color: white;
    text-align: center;
    
}
.fa-youtube {
    background: #ffffff;
    color: rgb(255, 0, 0);
    text-align: center;    
}

.fa:hover {
    opacity: 0.7;
}